// Cores

$white: #fff;
$red: #e60023;
$black: #111;
$gray-light: #efefef;
$blue: #1919E6;

// Dark Mode

$Dark-body: #292C35;
$Dark-label: #111;

//images
$imageColumnOne: url('/public/images/columnOne.jpg') no-repeat center #fff;
$imageColumnTwo: url('/public/images/columnTwo.jpg') no-repeat center #fff;
$imageColumnThree: url('/public/images/columnThree.jpg') no-repeat center #fff;
$imageColumnFour: url('/public/images/columnFour.jpg') no-repeat center #fff;
$imageColumnFive: url('/public/images/columnFive.jpg') no-repeat center #fff;
$imageColumnSix: url('/public/images/columnSix.jpg') no-repeat center #fff;
$imageColumnSeven: url('/public/images/columnSeven.jpg') no-repeat center #fff;

// Timing
$fade-duration: 1s;
$columns-transition-delay: 0.2s;
